# IDE
/.project
/.classpath
/build
/config
/.idea
/.settings
MKWeb.iml
/classes/
/WebContent/META-INF/
/WebContent/WEB-INF/classes/configs/MkWeb.conf

common.properties
UML_MKWeb.ucls

#ant
build*.xml

#jsp
*.jsp