<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MkWeb</display-name>
	
	<!-- MkWeb Dispatcher Settings -->
	<!-- 
	<servlet>
		<servlet-name>DefaultDispatcher</servlet-name>
		<servlet-class>com.mkweb.dispatcher.defaultDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DefaultDispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	-->
	<!--
	<servlet>
		<servlet-name>MkWebDispatcher</servlet-name>
		<servlet-class>com.mkweb.dispatcher.MkDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MkWebDispatcher</servlet-name>
		<url-pattern>*.mkw</url-pattern>
	</servlet-mapping>
	
	-->
	 
	<servlet>
		<servlet-name>MkReceiveFormData</servlet-name>
		<servlet-class>com.mkweb.web.MkReceiveFormData</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MkReceiveFormData</servlet-name>
		<url-pattern>/data/receive</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MkWebRestApi</servlet-name>
		<servlet-class>com.mkweb.restapi.MkRestApi</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MkWebRestApi</servlet-name>
		<url-pattern>/mk_api_key/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.jpg</url-pattern>
	    <url-pattern>*.png</url-pattern>
	    <url-pattern>*.css</url-pattern>
	    <url-pattern>*.js</url-pattern>
	    <url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<!-- MkWeb Dispatcher Settings -->
	
	
	<!-- Context:: MkWeb Initializer-->
	<listener>
		<listener-class>com.mkweb.web.MkWebContextListener</listener-class>
	</listener>
	<!-- Context:: MkWeb Initializer-->
	
	
	<!-- MkWeb Setting Configs -->
	<context-param>
		<param-name>MKWeb.Properties</param-name>
		<param-value>/WEB-INF/classes/configs/MKWeb.conf</param-value>
	</context-param>
	
	<context-param>
		<param-name>MKWeb.SqlConfigs</param-name>
		<param-value>/WEB-INF/classes/configs/MkSql.xml</param-value>
	</context-param>

	<context-param>
		<param-name>MKWeb.LoggerConfigs</param-name>
		<param-value>/WEB-INF/classes/configs/MkLogger.xml</param-value>
	</context-param>

	<context-param>
		<param-name>MKWeb.PageConfigs</param-name>
		<param-value>/WEB-INF/classes/configs/views</param-value>
	</context-param>
	
	<context-param>
		<param-name>MkWeb.ApiSqlConfigs</param-name>
		<param-value>/WEB-INF/classes/configs/MkApiSql.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>MkWeb.ApiPageConfigs</param-name>
		<param-value>/WEB-INF/classes/configs/api</param-value>
	</context-param>
	<!-- MkWeb Setting Configs -->
</web-app>